[Unit]
Description=Run Suhoput queue each minute

[Timer]
OnCalendar=*-*-* *:*:00
AccuracySec=1s
Persistent=true
Unit=suhoput-queue.service

[Install]
WantedBy=timers.target
