# Copy to .env.integrations.local; fill locally. Never print values.
SUHOPUT_EXTERNAL_WRITES_ENABLED=false
MOYSKLAD_API_BASE_URL=https://api.moysklad.ru/api/remap/1.2
MOYSKLAD_TOKEN=
MOYSKLAD_ACCOUNT_ID=
MOYSKLAD_SHOP_NAME=
MOYSKLAD_WAREHOUSE_NAME=
MOYSKLAD_WAREHOUSE_ID=
MOYSKLAD_ORGANIZATION_ID=
MOYSKLAD_ORGANIZATION_NAME=
MOYSKLAD_RETAIL_STORE_ID=
MOYSKLAD_RETAIL_PRICE_TYPE_ID=
MOYSKLAD_WHOLESALE_PRICE_TYPE_ID=
CDEK_API_BASE_URL=https://api.edu.cdek.ru
CDEK_CLIENT_ID=
CDEK_CLIENT_SECRET=
CDEK_SENDER_CITY_CODE=
CDEK_CONTROL_TRACKING_NUMBER=
POCHTA_TARIFF_BASE_URL=https://tariff.pochta.ru/v2
POCHTA_SENDER_POSTCODE=
POCHTA_PRODUCT_CODE=
POCHTA_CONTRACT=
POCHTA_OTPRAVKA_BASE_URL=https://otpravka-api.pochta.ru
POCHTA_OTPRAVKA_ACCESS_TOKEN=
POCHTA_OTPRAVKA_USER_KEY=
POCHTA_TRACKING_WSDL=https://tracking.russianpost.ru/rtm34?wsdl
POCHTA_TRACKING_LOGIN=
POCHTA_TRACKING_PASSWORD=
POCHTA_CONTROL_TRACKING_NUMBER=
